<h1>About</h1>
<p>This is a Node/Express app to provide easy usage of admin/user live chat.</p>
<p>You just need to register your domain , get js script with your key,</p>
<p>add that script to your application, and thats it.</p>
<p>You can also connect your salck to your chat through the slack bot.</p>
<p>You need to add slack bot to your slack app,</p>
<p>create room or just take one of the existings,</p>
<p>assign the bot to that room and register the bot in your admin dashboard.</p>
<p>Version: 1.0.0</p>