.chatcontent {
  all: initial;
  box-sizing: border-box!important;
}
.chatcontent .my-well{
  outline: 1px solid #212529;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
  border-radius: .25rem;
  margin-bottom: 6px;
  padding: 3px;  
  box-sizing: border-box;
}
.chatcontent button{
  width: 100%;
}
.chatcontent{
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 400px;
}
.chatcontent .output{
  max-height: 250px;
  overflow-y: scroll;
}
.chatcontent .chatbox{
  display: none;
}
.my-btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.my-form-control{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-sizing: border-box!important;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1px;
  width:100%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#notReadAdminMessageCount{
  color: #bd2130;
  font-weight : bold;
}
.minimizeChat {
  position: absolute;
  right: 26px;
  top: -1px;
  cursor: pointer;
  height: 4px;
  width: 20px;
  background: #343a40;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding-bottom: 16px;
  vertical-align: middle;
  font-weight: bold;
}
.messageInputUser{
  width: 74%;
  padding-top: 4px;
  display: inline-block;
}
.messageBtnUser{
  width: 20%!important;
  display: inline-block;
}
.userName{
  width: 58%!important;
  display: inline-block;
}
.hideChat{
  width: 20%!important;
  display: inline-block;
  float: right;
}
.startChat{
  width: 20%!important;
  display: inline-block;
  float: right;
  margin-right: 2px;
}
.showChat{
  float: right;
  width: 20%!important;
  display: inline-block;
}
.namebox{
  display: none;
  box-sizing: border-box!important;
}